In [1]:
import pandas as pd 
import healpy as hp
import numpy as np
import os
file_inter = "../Data_exc_lqg_s2"
os.makedirs(file_inter, exist_ok=True)

f_name = '../../../data/quasar_sample_2.csv' 
df = pd.read_csv(f_name)
df

                  r     theta       phi           l          b  redshift
0       4895.818134  2.418518  3.086642  176.851544 -48.570856  1.736468
1       4501.651542  2.417575  3.085203  176.769129 -48.516842  1.513049
2       4874.033995  2.417974  3.081664  176.566330 -48.539725  1.723440
3       3484.805215  2.408931  3.087835  176.919899 -48.021552  1.036263
4       3672.366940  2.415524  3.081435  176.553217 -48.399351  1.115134
...             ...       ...       ...         ...        ...       ...
415719  3402.849950  2.071590  0.848890   48.637839 -28.693361  1.002906
415720  4546.136340  2.067724  0.841094   48.191158 -28.471831  1.537019
415721  5358.234915  2.070009  0.846101   48.478000 -28.602760  2.034332
415722  5466.567544  2.066581  0.848092   48.592101 -28.406358  2.110545
415723  4507.529208  2.069462  0.849831   48.691736 -28.571432  1.516199

[415724 rows x 6 columns]

In [2]:
df1 = df[(df['redshift']>= 1.1742)&(df['redshift']<= 1.3713)]  # only LQG
df2 =  df[(df['redshift'] > 1.3713)] # excluding LQG
df2.to_csv('../Data_exc_lqg_s2/sample2_excluding_LQG.csv',index=False)